<ion-toolbar class="toolbar">
  <div class="div1">
    <div class="div2">
      <!-- <ion-icon class="icon" name="caret-forward-circle-outline"> </ion-icon> -->
      <ion-img class="delfi-icon"
  src="../../../assets/icon/delfi.png"
  alt=""
></ion-img>
      <!-- <ion-menu-toggle>
        <ion-button style="position: absolute; left: 12px;   bottom: 5px; opacity: 0;"></ion-button>
      </ion-menu-toggle> -->
      
      <!-- Delfi -->
      <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
      <!-- <ion-label > Delfi</ion-label> -->
      <select style ="background-color: #0c0c6d; border-color: #0c0c6d;"name="cars" id="cars">
        <option style ="background-color: #535353;"value="volvo">Delfi</option>
        <option style ="background-color: #535353;" value="saab">App1</option>
        <option style ="background-color: #535353;"value="opel">App2</option>
        <option style ="background-color: #535353;" value="audi">App3</option>
      </select>
      <p style = "padding-right: 5%;"> | </p>
      
       <p style ="padding-left: 3px; width: 90%; "> App Name</p>
    </div>
    <div class="div3">
      <!-- <ion-icon class="icon" name="alert-circle-outline"></ion-icon> -->
      <ion-icon class="icon-help" name="help-circle-outline"></ion-icon>
      <ion-icon class="icon-notification" name="notifications-outline"></ion-icon>
      
    </div>
  </div>
</ion-toolbar>