<!-- <app-common-header [title]="CurrenPageTitle"></app-common-header>

<ion-content [fullscreen]="true">
  
    <ion-list>
         <ion-item>
             <ion-row>
                <ion-label>more 1</ion-label>
                <ion-label>more 2</ion-label>
                <ion-label>more 3</ion-label>
             </ion-row>
         </ion-item>
    </ion-list>

</ion-content> -->
<!-- 
<ion-button id="popover-button">Open Menu1</ion-button>
<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="false" [detail]="false">Option 1</ion-item>
        <ion-item [button]="true" [detail]="false">Option 2</ion-item>
        <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

        <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Nested option 1</ion-item>
                <ion-item [button]="true" [detail]="false">Nested option 2</ion-item>
                <ion-item [button]="true" [detail]="false">Nested option 3</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover> -->
