<app-common-header [title]="CurrenPageTitle"></app-common-header>
<ion-content [fullscreen]="true">

  <div class="header">
    <app-sub-header [textTitle]="titleData"></app-sub-header>
  </div>
  <div class="container">

    <!-- <div class="sub_con">
      <div class="d1">
        <div class="square1"></div>
        <p>Over Pumping</p>
      </div>

      <div class="d2">
        <div class="square2"></div>
        <p>Optimum Pumping</p>
      </div>

      <div class="d3">
        <div class="square3"></div>
        <p>Under Pumping</p>
      </div>
    </div> -->


    <!-- <div class="content_cont">
      <div class="d1_c">
        <div class="d1_sc" *ngFor="let item of data; let i= index">
          <div (click)="navigateTo(item)" class="d1_sc1">
            <div [ngClass]="i == 0 ? 'status_bar1':( i==1 ?'status_bar2':'status_bar3')"></div>
            <div class="d1_detail">
              <p class="p1">{{item?.well_name}}</p>
              <p class="p2">{{item?.desc}}</p>
              <div style="display: flex;flex: 1;flex-direction: row;padding: 10px;">
                <div style="display: flex;flex: 1;color: #fff !important;font-size: 13px;">
                  {{item?.time}}
                </div>
                <div style="display: flex;float: 1;color: #fff !important; font-size: 13px;">
                  {{item?.status}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div> -->

    
    <ion-content>
      <ion-card
        style="
          background: #131629;
          box-shadow: 0.2px 0px 1px 2px #989aa2, 0 1px 0px 0 #989aa2;
          margin-bottom: 0%;
        "
        *ngFor="let item of [1,2,3,4,5]; let index"
      >
        <ion-card-content>
          <ion-label style="color: #fff; font-size: 18px !important"
            >Wells Name 001</ion-label
          >
          <ion-card-subtitle
            style="color: #ADB1C7; font-size: 10px !important"
            >2023-07-26 5:31:30</ion-card-subtitle
          >
          <ion-label
            text-wrap
            class="ion-text-wrap"
            style="color: #fff; text-overflow: ellipsis; max-lines: 1;"
            >Flatlining - Description will be seen here with details content like well looks good some measures
          </ion-label>
  
          <ion-row>
            <ion-icon name="logo-ionic" color="danger"></ion-icon>
            <ion-label style="color: #ADB1C7; font-size: 12px !important"
              >High</ion-label
            >
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-content>

  </div>
</ion-content>