<ion-header>
  <ion-toolbar>
    <ion-title>Inline Modal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
  <ion-modal style="background: #06062b" [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar class="header">
          <ion-title>Filters</ion-title>
          <ion-buttons slot="end">
            <ion-button style ="color:#fff" [routerLink]="['/telemetry/telemetry-details']"><ion-icon size="large"[routerLink]="['/telemetry/telemetry-details']" name="close-outline"></ion-icon></ion-button>
            
            <!-- <ion-nav [root]="app-telemetry-filters"></ion-nav> -->
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="backgroundBox">
          <ion-accordion-group class="backgroundBox">
            <ion-accordion value="first" class="backgroundBox">
              <ion-item class="header" slot="header">
                <ion-label>Migration</ion-label>
              </ion-item>
              <div class="backgroundBox" slot="content">
                <ion-card>
                  <ion-card-content class="backgroundBox">
                    <ion-grid class="backgroundBox">
                      <ion-row>
                        <ion-col class="lableColor">Flatining</ion-col>
                        <ion-toggle></ion-toggle><br /><br />
                      </ion-row>

                      <ion-row>
                        <ion-col class="lableColor">Tagging</ion-col>
                        <ion-toggle></ion-toggle><br /><br />
                      </ion-row>

                      <ion-row>
                        <ion-col class="lableColor">Fluid Pound</ion-col>
                        <ion-toggle></ion-toggle><br /><br />
                      </ion-row>

                      <ion-row>
                        <ion-col class="lableColor">Gas interference</ion-col>
                        <ion-toggle></ion-toggle><br /><br />
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
        <ion-accordion-group class="backgroundBox">
          <ion-accordion value="first" class="backgroundBox">
            <ion-item slot="header" class="header">
              <ion-label>Algorithms</ion-label>
            </ion-item>
            <div class="backgroundBox" slot="content">
              <ion-card class="backgroundBox">
                <ion-card-content class="backgroundBox">
                  <ion-grid class="backgroundBox">
                    <ion-row>
                      <ion-col class="lableColor"
                        >Production Optimizer PI</ion-col
                      >
                      <ion-toggle></ion-toggle><br /><br />
                    </ion-row>

                    <ion-row>
                      <ion-col class="lableColor"
                        >Production Optimizer CI</ion-col
                      >
                      <ion-toggle></ion-toggle><br /><br />
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-accordion-group>
          <ion-accordion value="first" class="backgroundBox">
            <ion-item slot="header" class="header">
              <ion-label>POC settings</ion-label>
            </ion-item>
            <div class="backgroundBox" slot="content">
              <ion-card class="backgroundBox">
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="lableColor">Primary Fillage</ion-col>
                      <ion-toggle></ion-toggle><br /><br />
                    </ion-row>

                    <ion-row>
                      <ion-col class="lableColor"
                        >Secondary Pump Fillage</ion-col
                      >
                      <ion-toggle></ion-toggle><br /><br />
                    </ion-row>
                  </ion-grid>

                  <ion-grid>
                    <ion-row>
                      <ion-label class="lableColor">Downtime</ion-label>
                    </ion-row>

                    <ion-row>
                      <ion-col class="lableColor">Hours</ion-col>
                      <!-- <ion-col class="lableColor">01</ion-col> -->
                      <ion-col class="lableColor">Minutes</ion-col>
                      <!-- <ion-col class="lableColor">30</ion-col> -->
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button shape="round" class="filterButton" size="small"
          >Apply to all graph</ion-button
        >
        <ion-button shape="round" class="filterButton" size="small"
          >Apply to this graph</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>
  
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
</ion-content>
