/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-content {
   background: #FFF !important;
   --background: #FFF !important;
}

ion-toolbar {
   --background: #0c0c6d;
}

//#06062b // dark
//#2f2f69 // light dark
//#474776 // light

//#eb445a over pump
// #2dd36f 
// #e0a41c under pump
ion-tab-bar {
   --background: #0c0c6d;
   background: #0c0c6d;
   height: 68px;

   ion-tab-button {
      color: #FFF;
   }

   ion-icon {
      color: #FFF;
   }
}
ion-toolbar {
   color: #FFF;
}
ion-content {
   --background: #272745 !important;
   margin-top: 58px !important;
}

.highcharts-background {
   fill: #272745 !important;
}
.highcharts-axis-title {
   color: #FFF;
   fill: #FFF;
}
